<span>
StoreId is {{StoreCtrl.storeId}}
</span>

<p>{{StoreCtrl.store.address}}</p>

<md-card>
  <md-table-container>
    <table md-table md-row-select multiple ng-model="selected" md-progress="StoreCtrl.promise">
      <thead md-head md-order="StoreCtrl.query.order">
        <tr md-row>
          <th md-column md-order-by="id"><span>Id</span></th>
          <th md-column md-order-by="gameName"><span>gameName</span></th>
          <th md-column>price</th>
          <th md-column>condition</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="copy in StoreCtrl.copies.data">
          <td md-cell>{{copy.id}}</td>
          <td md-cell>{{copy.gameName}}</td>
          <td md-cell>{{copy.price}}</td>
          <td md-cell>{{copy.condition}}</td>
          <td md-cell>
            <md-button class=" md-icon-button " ng-click="StoreCtrl.purchase(copy)">
              <md-icon>edit</md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="StoreCtrl.query.limit " md-limit-options="StoreCtrl.limitOptions " md-page="StoreCtrl.query.page " md-total="{{StoreCtrl.stores.count}} " md-page-select></md-table-pagination>
</md-card>
