<md-card>
  <p>StoreId: {{StoreCtrl.storeId}}</p>
  <p>Address: {{StoreCtrl.store.address}}</p>
  <p>Hours of Operation: {{StoreCtrl.store.hoursOfOperation}}</p>
</md-card>
<md-card>
  <md-input-container>
    <label>Rating</label>
    <md-select ng-model="StoreCtrl.rating" md-on-close="StoreCtrl.getCopiesFromStore()">
      <md-option ng-value="null">None</md-option>
      <md-option ng-value="'E'">E</md-option>
      <md-option ng-value="'T'">T</md-option>
      <md-option ng-value="'M'">M</md-option>
    </md-select>
  </md-input-container>
</md-card>
<md-card>
  <md-table-container>
    <table md-table md-row-select multiple ng-model="selected" md-progress="StoreCtrl.promise">
      <thead md-head md-order="StoreCtrl.query.order">
        <tr md-row>
          <th md-column><span>Game Name</span></th>
          <th md-column>price</th>
          <th md-column>condition</th>
          <th md-column>ESRB</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="copy in StoreCtrl.copies.data">
          <td md-cell>{{copy.name}}</td>
          <td md-cell>{{copy.price}}</td>
          <td md-cell>{{copy.condition}}</td>
          <td md-cell>{{copy.ESRB}}</td>
          <td md-cell>
            <md-button class=" md-icon-button " ng-click="StoreCtrl.purchase(copy)">
              <md-icon>edit</md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="StoreCtrl.query.limit" md-limit-options="StoreCtrl.limitOptions" md-page="StoreCtrl.query.page" md-total="{{StoreCtrl.copies.count}}" md-page-select></md-table-pagination>
</md-card>
